body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  color:white;
  margin: 0;
  background-color: black;
}

header nav {
  display: inline;
  justify-content: flex-end;
}

header p {
  text-size: 14px;
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('http://s3.amazonaws.com/digitaltrends-uploads-prod/2015/12/17684958904_ad5a6c05ed_k.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
  text-shadow:4px 4px black;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
  text-shadow:3px 3px black;
}

h4 {
  font-size: 16px;
  font-family: Helvetica;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 30px;
}

h5 {
  font-size: 30px;
  padding: 20px;
  color: white;
  background-color: black;
}

h6 {
  padding: 15px;
  font-size: 18px;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
